{% load static %}
<footer style="background-color: #E9E9E9;">
    <div class="row justify-content-center align-items-center">
        <div class="col-3  py-5">
            <a href="{% url 'home' %}" class="text-dark" style="font-size: 40px;">GUITAR WORLD</a>
            <p>&copy; All the copyrigths reserved Antonio Enciso Villegas ©2021</p>
        </div>
   
        <div class="col-3 text-center py-5">
            <p>FOLLOW US</p>
            <div class="row justify-content-center">
                <div class="col-2"><a href="https://www.facebook.com/Guitar-World-101106209028660"><img src="{% static 'img/facebook.png' %}" height="30" width="32" alt=""></a></div>
                <div class="col-2"><a href="https://instagram.com/guitarworldpage?utm_medium=copy_link"><img src="{% static 'img/instagram.png' %}" height="30" width="32" alt=""></a></div>
                <div class="col-2"><a href=""><img src="{% static 'img/youtube.png' %}" height="30" width="32" alt=""></a></div>
        </div>
        </div>
    </div>
</footer>