{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="row my-5">
            <div class="col-6">
                <img src="{{guitar.image.url}}" height="500" width="420" alt="">
                <iframe width="420"class="mt-2" height="345" src="{{guitar.video}}">
                </iframe>               
            </div>
            <div class="col-6">
                <div class="row">
                    {% if not flag %}
                        <div class="col-12">
                            <form action="{% url 'punctuate-comercial' guitar.id %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-6 form-group">
                                        <input type="number" placeholder="Rate from 1 to 10" min="1" max="10" name="pun" id="pun" class="form-control" required>
                                    </div>
                                    <div class="col-6 form-group">
                                        <button type="submit" class="btn btn-dark">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success col-12 text-center" role="alert">
                                <strong>{{message}}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="col-12">
                        <h2 class="text-center">Rate: {{punctuation}}/10★</h2>
                        <h2 class="text-center">{{guitar.name}}</h2>
                        <h3>{{guitar.model}}</h3>
                        <h4>{{guitar.brand}}</h4>
                        <p>{{guitar.description}}</p>
                        <p>{{guitar.features}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}